<div class="row">
    <div class="col">
        <div class="card text-white bg-light">
            <div class="card-body bg-primary">
                <partial name="_MusicHubControlPanel.cshtml" model="MusicPanelType.Source" />
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card text-white bg-dark">
            <div class="card-body ">
                <partial name="_MusicHubControlPanel.cshtml" model="MusicPanelType.Target" />
            </div>
        </div>
    </div>
</div>